*{
    margin: 5px;
    
}
h1 {
    background-color: black;
    font-family: cursive serif  ;
    color: white;
    padding: 7px 20px;
}
span {
    color: aqua;
}
h2 {
    background-color: #663399;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
    padding: 5px;
    font-weight: 400;
}
h3 {
    background-color: #9FC5F8;
    text-align: end;
    text-decoration: underline;
    padding: 5px 10px;
    font-weight: 500;  
}