*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}.container {
    width: 1200px;
    margin: 0 auto;
}
.flex {
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}
.al-cont-center {
    align-content: center;
}
.just-cont-center {
    justify-content: center;
}
.al-it-center {
    align-items: center;
}
.col {
    flex-direction: column;
}
nav{
    display: flex;
    justify-content: space-around;
}
.navbar {
    width: 70%;
    justify-content: space-between;
    align-items: center;
}
.btn{

padding: 6px 14px;
font-family:'Roboto', sans-serif;
border-radius: 6px;
border: none;

color: #fff;
background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
background-origin: border-box;
box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
}



