
.container{
    background-color: silver;
    margin: 10px;
    padding: 15px;
    width: 97%;
    height: 100%;
}
.top-nav {
    height: 150px;
    width: 100%;
    background-color: green;
    display: block;
}
.side-nav {
    height: 500px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
}
.main {
    height: 700px;
    width: 86.5%;
    background-color: red;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
}
.sub-content {
    height: 50%;
    width: 30%;
    background-color: yellow;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
}
#advertisement {
    height: 200px;
    width: 93%;
    background-color: purple;
    display: block;
    margin-top: 20px;
    margin-left: 20px;
}

