*{
    color: rgb(221, 221, 221);
    font-family: 'Poppins', sans-serif;
}
.nav {
    background-color: rgb(84, 80, 80);
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}
.nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
li {
    margin-right: 20px;
    text-decoration: none;
    list-style-type: none;
}
a {
    text-decoration: none;
}
.active {
    font-weight: 600
}
.btn{
    background-color: rgb(23, 162, 184);
    box-shadow: 5px 5px 1px black;
}